@import "../../node_modules/mdbootstrap/scss/core/mixins";

@import "../../node_modules/mdbootstrap/scss/core/bootstrap/functions";

@import "../../node_modules/mdbootstrap/scss/core/bootstrap/variables";

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    background-color: #0D1B2A;
    color: #E0E1DD;
}

#navbar {
    transition: top 0.3s;
    background-color: #0B3C5D;
}

h1,
.display-4 {
    color: #35A1E9;
}
.header h1,
.header .display-4 {
    color: #E0E1DD;
}
.header-bar {
    background-color: #35A1E9;
}
.nav-icon {
    filter: invert(52%) sepia(92%) saturate(424%) hue-rotate(167deg) brightness(91%) contrast(100%);
}
strong {
    color: #35A1E9;
}

// material ui form color override
.email-send, .btn-outline-default, form, input, form .active, .btn-outline-default:focus {
    color: #E0E1DD !important;
}
.btn-outline-default, .btn-outline-default, .btn-outline-default:focus {
    border: 2px solid #E0E1DD !important;
}
.form-control:focus {
    border-bottom: 1px solid #E0E1DD !important;
    box-shadow: 0 1px 0 0 #E0E1DD !important;
}
.btn-outline-default:hover, .btn-outline-default:hover { 
    color: #E0E1DD !important;
    border: 2px solid #E0E1DD !important;
    transform: scale(1.05, 1.05);
}

.footer {
    background-color: #0B3C5D;
}

#topwrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  width:100%;
  background: linear-gradient( #090A0F95 0%, #01015C80 100%);
  overflow: hidden;
}

#topwrapper::after {
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;
    background-image: url("./images/desktop.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
}

@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}
$shadows-small:  multiple-box-shadow(700); //700
$shadows-medium: multiple-box-shadow(200); //200
$shadows-big:    multiple-box-shadow(100); //100


@keyframes animStar {
    from { transform: translateY(0px); }
    to { transform: translateY(-2000px); }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
}    
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 50%;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50%;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite
}
#stars3:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
}

.header {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin: auto;
}
.fa-angle-down {
    color: #fff;
    opacity: 0.5;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    transition: all .2s;
    animation: down-arrow-bounce 1s ease-in-out infinite;
    font-size: 3em;
}

.fa-angle-down:hover {
    opacity: 1;
}

@keyframes down-arrow-bounce {
    0%, 100%  { transform: translateY(0); }
    50%       { transform: translateY(10px); }
}

@keyframes down-arrow-end {
    100%  { transform: translateY(10px); }
}

#navbar {
    transition: top 0.3s;
}
.nav-icon {
    width: 2rem;
}
#aboutme {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
#aboutme::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
    background-size: cover;
    opacity: 0.5;
}
.sticky {
    position: sticky;
    top: 0px;
    z-index: 102;
    width: 100%;
}

.aboutme-content {
    display: flex;
    flex-direction: row;
}
.header-bar {
    height: 2px;
    width: 50vw;
    margin: auto;
}
.me-card {
    width: 95%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    color: #8a8a8a;
    line-height: 24px;
}

#headshot {
    border-radius: 9999px;
}

.tech-icon-container {
    display: flex;
    z-index: 101;
}
.tech-icon-wrapper, .tech-icon {
    height: 2.5em;
    width: 2.5em;
    opacity: 0.8;
}
.tech-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.projects-wrapper {
    margin-bottom: 30vh;
}

@keyframes rotate {
	from { 	transform: rotate(0deg) }
	to   {  transform: rotate(360deg) }
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}

@include media-breakpoint-up(xs) {
    .display-1 {
      font-size: 5rem;
    }
    .me-card {
        flex-direction: column;
    }
    .card-img-top {
        width: 70%;
    }
}

@include media-breakpoint-up(sm) {
    .card-img-top {
        width: 40%;
    }
    
}
  
@include media-breakpoint-up(md) {
    .me-card {
        flex-direction: row;
    }
}
  
@include media-breakpoint-up(lg) {
    .display-1 {
      font-size: 6rem;
    }
}